*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
*.lst
*.crf
*.o
*.d
*.TMP
*.uvguix*
*.dep
*.lnp
*.ini
*.txt
*.scvd
*.uvoptx
*.iex
*.html
_ReSharper*/
doc/*
Debug
DebugConfig
SewageDisposalSystems.si4project